.navBar{
    background-color: #313946;
    color: white;
    font-weight: bold;

    /* a태그 처리 */
    a:link{color:white;text-decoration:none;}
    a:visited{color:white;text-decoration:none;}
    a:hover{color:yellow;text-decoration:none;}
}

.allColAttribute{
    vertical-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

.allColAttribute:hover{
    background-color: #1b1f24;
}

.allColAttributeNoAuth{
    vertical-align: center;
    padding-top: 20px;
    /*Todo : 로그인/로그아웃 간의 height가 약간 다름 -> 임시로 적당한px로 고정*/
    height: 65px;

}

.allColAttributeNoAuth:hover{
    background-color: #1b1f24;
}

.schBoxStyle{
    padding-top: 15px;
}

.buttonNormalDesign{
    border: 0;
    background-color: transparent;

    color:white;
    text-decoration:none;
    font-weight: bold;

    vertical-align: center;

}

.buttonNormalDesign:hover{
    color:yellow;
}

.paidPlanText{
    background-color:#4B3BAE;

}

.myPageDesign{
    background-color: #47BEF0;

    color:white;
    text-decoration:none;
    font-weight: bold;
}

.logoImgLinkCol{
    padding:2px 0px 0px 0px;
}

.logoImgLink{
    display: inline-block;
    width: 110px;
    height: 51px;
    overflow: hidden;
}


.logoImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


