
.StockSchBoxContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    max-width: 400px;

    /*border:1px solid pink;*/
    border-radius: 20px;
    background-color: #FFFFFF;
}

.schBoxColumn{
    padding: 5px 0;
}

.schInfoColumn{
    padding: 5px 0;
}

.schBoxBtn{
    border: 0;
    background-color: transparent;

    color:black;
    text-decoration:none;
    font-weight: bold;
}

.schBoxBtn:hover{
    color: #6b5252;
}

.schBox{
    border: none;
    outline: none;
}