.subscribePageContainer{
    display: flex;
    flex-direction: row;

    height: 1000px;
    max-widthwidth: 1200px;

    margin: 10px 100px;

    justify-content: space-around;
}

.subscribePageContainer>div{
    /*border: 1px solid blue;*/
}

.freePlanColumn, .paidPlanColumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 400px;
    height: 500px;

    border-radius: 5px;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.2);

    margin-top: 50px;
}

.freePlanColumn:hover, .paidPlanColumn:hover{
    box-shadow: 0 0 10px 5px rgba(255, 165, 0, 0.7);
}

.subsPlanPaidPlanIntro{
    color: #1f367d;
}

.subsPlanFeatureListRow, .subsPlanFeatureListRow{
    display: flex;
    flex-direction: column;

    align-items: flex-start;
}

.subsPagenormalBtn, .subsPagePaidBtn{
    width: 200px;
    text-align: center;
    border: none;

    border-radius: 5px;
    border:1px solid #4B3BAE;

    background-color: transparent;
    color: #4B3BAE;

    font-weight: bold;
    font-size: large;

    /*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);*/

    padding-top: 15px;
}

.subsPagenormalBtn:hover, .subsPagePaidBtn:hover{
    transition: background-color 0.2s ease;
    background-color: #4B3BAE;
    color: #FFFFFF;
}