.textColor{
    text-align: center;
}

.load{
    width: 700px;
}

.loadingText{
    color: white;
}

.schBx{
    width: 200px;
    background-color: #FFFFFF;
    vertical-align: top;
    border-radius: 5%;

    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 10px 20px;
}

.pCenter{
    text-align: center;
}

.assignInlineBlk{
    display: inline-block;
}

.dfSize{
    width: 700px;
}

.df{
    height: 500px;
    overflow-y: scroll;

    background-color: #FFFFFF;
    border-radius: 3%;

    margin-top: 10px;
}